* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* shared style */
.container {
  max-width: 1450px;
  /* margin: 0 auto; */
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  background-color: #469165;
  color: #ffffff;
  border: none;
  padding: 13px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600px;
}

/* main style */
header {
  background-color: #ffffff;
}
.log img {
  padding: 16px 0 16px 120px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  gap: 32px;
}
nav .menu a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}
