* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* shared style */
.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  background-color: #469165;
  color: #ffffff;
  border: none;
  padding: 13px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600px;
  cursor: pointer;
}

/* main style */
header {
  background-color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  gap: 32px;
}
nav .menu a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 674px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 35px;
}

.banner-content {
  max-width: 800px;
}

.banner-content h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin-bottom: 16px;
  color: #FFFFFF;
  
}
#color-green{
  color: #30B868;
}

.banner-content p {
  font-size: 18px;
  font-weight: 400;
  /* line-height: 24px; */
  margin-bottom: 32px;
}

.banner-btns {
  display: flex;
  justify-content: center;
  gap: 16px;
  border-radius: 4px;
}

/* Second button-er*/
.btn-outline {
  font-size: 16px;
  font-weight: 600
  color: #FFFFFF;
}
.btn-outline:hover {
  cursor: pointer;
}
.section-heading{
  max-width: 1360px ;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 44px;
}
.section-heading h2{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}
.section-heading p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
 #skills .skills-container{
  margin: 0 auto;
} 

#skills .skills-container .skill-box{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.skill-box .skill-card{
  padding: 30px;
  max-width: 322px;
}
.skill-card img{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.skill-card h3{
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
}
.skill-card p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.brain{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 100px 0 ;
}
/* .brain img{
  display: block;
} */
 .brain-info span{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #469165;
  text-transform: uppercase;
  margin-bottom: 16px;
 }
 .brain-info h2{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
  text-transform: capitalize;
  max-width: 700px;
  line-height: 58px;
 }
 .brain-info p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
 }
 .check-list{
  list-style: none;
 }
 .check-list li {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
  line-height: 20px;
  color: #001931;
  margin-bottom: 16px;
 }
 .access-box{
  text-align: center;
 }
 .early-access {
  background-color: #F7F6F2;
  padding: 40px;
  /* max-width: 1360px; */
  text-align: center;
  margin: 2px 120px 120px 120px;
 }
 .access-box h2{
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
 }
 .access-box p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
 }
 .btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    padding: 16px;
}
.secondary-text{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}