* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* shared style */
.container {
  max-width: 1450px;
  margin: 0 auto;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  background-color: #469165;
  color: #ffffff;
  border: none;
  padding: 13px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600px;
  cursor: pointer;
}

/* main style */
header {
  background-color: #ffffff;
}
.log img {
  padding: 16px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  gap: 32px;
}
nav .menu a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 674px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.banner-content {
  max-width: 800px;
}

.banner-content h1 {
  font-size: 72px;
  font-weight: bold;
  /* line-height: 84px; */
  margin-bottom: 16px;
  color: #FFFFFF;
}

.banner-content p {
  font-size: 18px;
  font-weight: 400;
  /* line-height: 24; */
  margin-bottom: 32px;
}

.banner-btns {
  display: flex;
  justify-content: center;
  gap: 16px;
  border-radius: 4px;
}

/* Second button-er*/
.btn-outline {
  font-size: 16px;
  font-weight: 600
  color:#FFFFFF;
}
.btn-outline:hover {
  cursor: pointer;
}
